<h5>Filter</h5>
<form id="pca-filter-form">
    <div>
        <div class="btn-container">
            <div class="dropdown filter-item">
                <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    카테고리
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="카테고리" value="스낵" id="chkSanck" />
                                <label class="form-check-label" for="chkSanck">스낵</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="카테고리" value="라면" id="chkRamen" />
                                <label class="form-check-label" for="chkRamen">라면</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="dropdown filter-item">
                <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    대륙
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="대륙" value="아시아" id="chkAsia" />
                                <label class="form-check-label" for="chkAsia">아시아</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="대륙" value="유럽" id="chkEurope" />
                                <label class="form-check-label" for="chkEurope">유럽</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="대륙" value="아메리카" id="chkAmerica" />
                                <label class="form-check-label" for="chkAmerica">아메리카</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        
            <div class="dropdown filter-item">
                <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    국가
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="국가" value="한국" id="chkKorea" />
                                <label class="form-check-label" for="chkKorea">한국</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="국가" value="독일" id="chkGerm" />
                                <label class="form-check-label" for="chkGerm">독일</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="국가" value="태국" id="chkThai" />
                                <label class="form-check-label" for="chkThai">태국</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="국가" value="미국" id="chkUsa" />
                                <label class="form-check-label" for="chkUsa">미국</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="국가" value="인도" id="chkIndia" />
                                <label class="form-check-label" for="chkIndia">인도</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="국가" value="이탈리아" id="chkItaly" />
                                <label class="form-check-label" for="chkItaly">이탈리아</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        
            <div class="dropdown filter-item">
                <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    제조사
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="제조사" value="농심" id="chkNs" />
                                <label class="form-check-label" for="chkNs">농심</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="제조사" value="오리온" id="chkOrion" />
                                <label class="form-check-label" for="chkOrion">오리온</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="제조사" value="치오" id="chk1" />
                                <label class="form-check-label" for="chk1">치오</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="제조사" value="펩시코" id="chk2" />
                                <label class="form-check-label" for="chk2">펩시코</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="제조사" value="바르셀" id="chk3" />
                                <label class="form-check-label" for="chk3">바르셀</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="제조사" value="워커스" id="chk4" />
                                <label class="form-check-label" for="chk4">워커스</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="제조사" value="캘라노바" id="chk5" />
                                <label class="form-check-label" for="chk5">캘라노바</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" name="제조사" value="헌터스" id="chk6" />
                                <label class="form-check-label" for="chk6">헌터스</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        
            <div class="filter-item">
                <button type="button" onclick="applyFilters()" id="filter-btn" class="btn btn-primary btn-block btn-submit">필터조회</button>
            </div>
        </div>
    </div>
</form>
