<h5>Result</h5>
<div id="table-box" class="container off-bottom">
    <div class="scroll-box">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">대륙</th>
                    <th scope="col">국가</th>
                    <th scope="col">제조사</th>
                    <th scope="col">제품명(국문)</th>
                    <th scope="col">Flavor 검출수</th>
                    <th scope="col">원재료</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck32">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">독일</td>
                    <td data-column="제조사">치오</td>
                    <td id="prd-btn2">
                        <span class="table-prd-item">치오 팝칩 파프리카</span>
                    </td>
                    <td>23</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자분말, 감자전분, 쌀가루, 채종유, 설탕, 소금, 파프리카분말, 사워크림분말, 유청분말, 건조고추, 칠리분말, 효모추출물, 양파분말, 토마토분말, 포도당시럽, 마늘분말, 향신료, 말토덱스트린, 천연향료, 유화제, 파프리카추출물색소, 구연산">
                            감자분말, 감...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck43">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td id="prd-btn">
                        <span class="table-prd-item">포테토칩 오리지널</span>
                    </td>
                    <td>11</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 미강유, 팜유, 조미염분말">
                            감자, 미강유...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck0">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">감자깡</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="소맥분, 감자, 옥수수전분, 미강유, 팜유, 비프맛베이스조미분말, 바베큐맛조미분말, 양파">
                            소맥분, 감자...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">꿀꽈배기</span>
                    </td>
                    <td>13</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="소맥분, 정백당, 미강유, 옥수수전분, 혼합제제[타피오카산화전분, 말토덱스트린], 팜유, 알파옥수수전분, 고소미조미분말, 아카시아꿀, 발효사과농축액, 감초농축액, 현미조청, 정제염, 합성향료">
                            소맥분, 정백...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck2">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">태국</td>
                    <td data-column="제조사">펩시코</td>
                    <td>
                        <span class="table-prd-item">레이즈 구운새우와 해산물소스</span>
                    </td>
                    <td>15</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 식물성유지, 시즈닝[향미증진제, MSG], 말토덱스트린, 산도조절제, 고결방지제, 천연색소, 천연향료">
                            감자, 식물성...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck3">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">태국</td>
                    <td data-column="제조사">펩시코</td>
                    <td>
                        <span class="table-prd-item">레이즈 맥스 칠리</span>
                    </td>
                    <td>15</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 식물성유지, 시즈닝, 튀긴칠리[말토덱스트린, 향미증진제, MSG], 고결방지제, 산도조절제, 천연색소, 산화방지제, 인공향료">
                            감자, 식물성...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck4">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">태국</td>
                    <td data-column="제조사">펩시코</td>
                    <td>
                        <span class="table-prd-item">레이즈 미엥캄 향신료맛</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 식물성유지, 시즈닝[말토덱스트린, 향미증진제, MSG], 산도조절제, 아스파탐, 고결방지제, 천연색소, 천연향료">
                            감자, 식물성...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck5">
                        </div>
                    </td>
                    <td data-column="대륙">아메리카</td>
                    <td data-column="국가">미국</td>
                    <td data-column="제조사">펩시코</td>
                    <td>
                        <span class="table-prd-item">레이즈 소금 &amp; 식초</span>
                    </td>
                    <td>13</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 천연향료(식초향), 정제소금, 식초">
                            감자, 천연향...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck6">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">네덜란드</td>
                    <td data-column="제조사">펩시코</td>
                    <td>
                        <span class="table-prd-item">레이즈 요피맛</span>
                    </td>
                    <td>18</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 해바라기유, 채종유, 요피맛시즈닝(설탕, 겨자향료, 염화칼륨, 요피분말, 설탕, 파프리카, 소금, 마늘분말, 향신료, 시어너트오일, 후추)">
                            감자, 해바라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck7">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">인도</td>
                    <td data-column="제조사">펩시코</td>
                    <td>
                        <span class="table-prd-item">레이즈 인도매직마살라</span>
                    </td>
                    <td>20</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자,고올레산해바라기유, 시즈닝(Spices&amp;Condiments, 정제소금, 말토덱스트린, 검정소금, 설탕, 토마토분말, 산도조절제, 천연향료, 산화방지제, 색소)">
                            감자,고올레산...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck8">
                        </div>
                    </td>
                    <td data-column="대륙">아메리카</td>
                    <td data-column="국가">미국</td>
                    <td data-column="제조사">펩시코</td>
                    <td>
                        <span class="table-prd-item">레이즈 클래식</span>
                    </td>
                    <td>12</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 해바라기유, 옥수수유, 카놀라유, 대두유, 정제소금">
                            감자, 해바라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck9">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">독일</td>
                    <td data-column="제조사">로렌즈</td>
                    <td>
                        <span class="table-prd-item">로렌즈 로즈마리</span>
                    </td>
                    <td>17</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="함성향료[바나나향, 분말바나나향, 바나나컴파운드향], 정제염, 난백분, 강황분말">
                            함성향료[바나...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck10">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">매운새우깡</span>
                    </td>
                    <td>15</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="소맥분, 옥수수전분, 새우, 맛베이스조미분말, 타피오카산화전분, 말토덱스트린, 미강유, 팜유, 매운맛시즈닝, 매콤한풍미유">
                            소맥분, 옥수...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck11">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">먹태깡 청양마요맛</span>
                    </td>
                    <td>20</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="소맥분, 타피오카산화전분, 말토덱스트린, 옥수수전분, 북어엑기스, 정백당, 청양마요소스맛시즈닝, 마요네즈맛분말, 구운북어채분말, 청양초시즈닝분말, 미강유, 팜유, 합성향료">
                            소맥분, 타피...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck12">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">오리온</td>
                    <td>
                        <span class="table-prd-item">무뚝뚝감자칩 통후추소금맛</span>
                    </td>
                    <td>20</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 팜올레인유, 채종유, 페퍼솔트시즈닝[후추, 정제소금]">
                            감자, 팜올레...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck13">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">바나나킥</span>
                    </td>
                    <td>13</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="옥수수, 정백당, 미강유, 바나나분말, 팜유, 탈지분유, 함성향료[바나나향, 분말바나나향, 바나나컴파운드향], 정제염, 난백분, 강황분말">
                            옥수수, 정백...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck14">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">빵부장 라즈베리맛</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="옥수수, 정백당, 팜유, 유청분말, 탈지분유, 레시틴, 빵가루, 효모, 정제염, 대두분, 유화제, 소맥분, 가공버터, 미강유, 생크림케익페이스트, 전지분유, 라즈베리향시즈닝, 라즈베리농축액, 빵베이스혼합분, 프로필렌글리콜, 주정, 정제수, 향료, 글리세린, 구연산, 시놀레인산에스테르, 카민, 덱스트린, 파프리카추출색소, 비타민E, 가공유지, 베타카로틴, 미강유, 카카오색소, 안나토색소, 탄산나트륨">
                            옥수수, 정백...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck15">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">빵부장 소금빵</span>
                    </td>
                    <td>11</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="옥수수, 정백당, 소맥분, 효모, 정제염, 대두분, 유화제, 팜유, 미강유, 가공버터, 전지분유, 이즈니버터, 빵베이스혼합분[결정셀룰로오스, 설탕, 버터향, 정제소금, 농축버터버드, 게랑드소금, 정제염, 글리세린지방에스테르, 미강유, 정제수, 카카오색소, 안나토색소, 비타민E, 탄산나트륨, 가공유지, 파프리카추출색소, 베타카로틴, 향료, 올레오레진로즈마리">
                            옥수수, 정백...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck16">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">새우깡</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="소맥분, 옥수수전분, 새우, 맛베이스조미분말, 타피오카산화전분, 말토덱스트린, 미강유, 팜유, 새우풍미유, 염미시즈닝">
                            소맥분, 옥수...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck17">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">수미칩 오리지널</span>
                    </td>
                    <td>8</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 미강유, 팜유, 조미염분말">
                            감자, 미강유...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck18">
                        </div>
                    </td>
                    <td data-column="대륙">오세아니아</td>
                    <td data-column="국가">호주</td>
                    <td data-column="제조사">스미스</td>
                    <td>
                        <span class="table-prd-item">스미스 소금 &amp; 식초</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 카놀라유, 해바라기유, 향료, 말토덱스트린, 젖산, 정제소금, 이초산나트륨, 구연산, 설탕, 소금, 향미증진제, 덱스트로스, 농축유청단백질분말, 폴리덱스트로스, 산화방지제(토코페롤, 비타민C, 로즈마리추출물)">
                            감자, 카놀라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck19">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">이탈리아</td>
                    <td data-column="제조사">아미카칩스</td>
                    <td>
                        <span class="table-prd-item">아미카 알프레도 오리지널러플</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 고올레산해바라기유, 정제소금">
                            감자, 고올레...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck20">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">이탈리아</td>
                    <td data-column="제조사">아미카칩스</td>
                    <td>
                        <span class="table-prd-item">아미카 엘도라다</span>
                    </td>
                    <td>16</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 고올레산해바라기유, 정제소금">
                            감자, 고올레...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck21">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">알새우칩</span>
                    </td>
                    <td>13</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="타피오카분말, 새우살, 소맥분, 정백당, 계란, 미강유, 팜유, 새우맛시즈닝">
                            타피오카분말,...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck22">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">양파깡</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="소맥분, 양파, 미강유, 옥수수전분, 팜유, 매콤한불고기맛조미분말[구운양파베이컨맛조미분], 양파맛조미분, 양파후레버, 사워크림앤어니언시즈닝">
                            소맥분, 양파...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck23">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">양파링</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="소맥분, 옥수수전분, 미강유, 변성전분, 팜유, 양파맛베이스, 정백당, 분말셀룰로오스, 정제염, 화이버졸, 양파추출물분말, 비타민B2, 양파농축액, 양파베이컨맛시즈닝, 감자분말">
                            소맥분, 옥수...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck24">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">오리온</td>
                    <td>
                        <span class="table-prd-item">예감 치즈그라탕맛</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자분말, 팜올레인유, 팜스테아린에스테르화유, 백설탕, 치즈그라탕시즈닝, 알파옥수수분말, 감자맛분말, 유단백혼합분말, 산도조절제, 찐감자맛분말, 유미분, 전지분유, 식염, 치즈분말, 젖산분말, 효소제">
                            감자분말, 팜...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck25">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">영국</td>
                    <td data-column="제조사">워커스</td>
                    <td>
                        <span class="table-prd-item">워커스 레디 솔트</span>
                    </td>
                    <td>8</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 해바라기유, 채종유, 정제소금, 산화방지제(로즈마리 추출물, 비타민C, 토코페롤 추출물, 구연산)">
                            감자, 해바라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck26">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">영국</td>
                    <td data-column="제조사">워커스</td>
                    <td>
                        <span class="table-prd-item">워커스 새우</span>
                    </td>
                    <td>16</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 해바라기유, 채종유, 정제소금, 새우시즈닝(향료, 설탕, 소금, 구연산, 사과산, 덱스트로스, 건조효모, 염화칼륨, 건조양파, 토마토분말, 효모추출물, 색소[파프리카추출물],감미료[수크랄로스), 효모추출물), 산화방지제(로즈마리 추출물, 비타민C, 토코페롤 추출물, 구연산)">
                            감자, 해바라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck27">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">영국</td>
                    <td data-column="제조사">워커스</td>
                    <td>
                        <span class="table-prd-item">워커스 소금 식초</span>
                    </td>
                    <td>10</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 해바라기유, 채종유, 정제소금, 식초시즈닝(향료, 소금, 구연산, 사과산), 효모추출물), 산화방지제(로즈마리 추출물, 비타민C, 토코페롤 추출물, 구연산)">
                            감자, 해바라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck28">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">영국</td>
                    <td data-column="제조사">워커스</td>
                    <td>
                        <span class="table-prd-item">워커스 치즈 양파</span>
                    </td>
                    <td>13</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 해바라기유, 채종유, 정제소금,  치즈양파시즈닝(건조양파, 소금, 유청분말, 젖산, 설탕, 향료, 치즈분말, 건조효모, 구연산, 사과산, 유청단백분말, 건조마늘, 색소[annatto bixin, 파프리카추출물]), 산화방지제(로즈마리 추출물, 비타민C, 토코페롤 추출물, 구연산)">
                            감자, 해바라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck29">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">인디안밥</span>
                    </td>
                    <td>13</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="옥수수, 정제염, 효소처리스테비아, 구연산, 미강유, 팜유, 스위트콘시즈닝">
                            옥수수, 정제...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck30">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">조청유과</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="쌀가루, 미강유, 정백당, 팜유, 소맥전분, 찰옥수수전분, 알파옥수수전분, 프락토올리고당, 정백당, 스위트조미분말, 현미조청, 소맥분, 참깨, 정제염">
                            쌀가루, 미강...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck31">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">독일</td>
                    <td data-column="제조사">치오</td>
                    <td>
                        <span class="table-prd-item">치오 토릴라 나초치즈</span>
                    </td>
                    <td>23</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="옥수수분말, 해바라기유, 채종유, 전분, 천연향료, 유청단백분말, 소금, 치즈분말, 효모추출물, 양파분말, 마늘분말, 유화제, 향신료">
                            옥수수분말, ...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck33">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">네덜란드</td>
                    <td data-column="제조사">크로키</td>
                    <td>
                        <span class="table-prd-item">크로키 감자칩 파프리카</span>
                    </td>
                    <td>13</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자분말, 감자전분, 쌀가루, 해바라기유, 소금, 파프리카향신료, 덱스트로스, 설탕, 옥수수가루, 향미증진제, 염화칼륨, 향료, 산도조절제, 구연산, 사과산, 감미료[스테비올배당체], 스모크향">
                            감자분말, 감...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck34">
                        </div>
                    </td>
                    <td data-column="대륙">아메리카</td>
                    <td data-column="국가">멕시코</td>
                    <td data-column="제조사">바르셀</td>
                    <td>
                        <span class="table-prd-item">타키스 케틀즈 푸에고</span>
                    </td>
                    <td>20</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 식물성유지[팜유, 카놀라유, 콩기름], 시즈닝[말토덱스트린, 소금, 구연산, MSG, 천연 및 인공 향료, 양파분말, 중탄산나트륨, 착색료, 가수분해대두단백질, 칠리페퍼추출물, 이노신산이나트륨, 글루탐산이나트륨, 산화방지제">
                            감자, 식물성...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck35">
                        </div>
                    </td>
                    <td data-column="대륙">아메리카</td>
                    <td data-column="국가">멕시코</td>
                    <td data-column="제조사">바르셀</td>
                    <td>
                        <span class="table-prd-item">타키스 케틀즈 하바네로 퓨리</span>
                    </td>
                    <td>22</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 식물성유지[팜유, 카놀라유, 콩기름], 시즈닝[말토덱스트린, 소금, 구연산, MSG, 천연 및 인공 향료, 염화칼륨, 설탕, 덱스트로스, 규산칼슘, 옥수수전분, 착색료">
                            감자, 식물성...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck36">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">스페인</td>
                    <td data-column="제조사">토레스</td>
                    <td>
                        <span class="table-prd-item">토레스 셀렉타 블랙트러플</span>
                    </td>
                    <td>12</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 해바라기유, 정제소금, 건조송로버섯, 천연향료[블랙트러플향]">
                            감자, 해바라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck37">
                        </div>
                    </td>
                    <td data-column="대륙">유럽</td>
                    <td data-column="국가">스페인</td>
                    <td data-column="제조사">트릴라</td>
                    <td>
                        <span class="table-prd-item">트릴라 칩스</span>
                    </td>
                    <td>17</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="옥수수, 팜유, 정제소금">
                            옥수수, 팜유...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck38">
                        </div>
                    </td>
                    <td data-column="대륙">아메리카</td>
                    <td data-column="국가">칠레</td>
                    <td data-column="제조사">티카</td>
                    <td>
                        <span class="table-prd-item">티카 칩스 파타고니아</span>
                    </td>
                    <td>17</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="고구마, 감자, 해바라기유, 고올레산해바라기유, 비트루트주스, 천일염">
                            고구마, 감자...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck39">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">포스틱</span>
                    </td>
                    <td>12</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="소맥분, 감자, 옥수수전분, 타피오카산화전분, 말토덱스트린, 미강유, 팜유, 감자맛조미분말, 정제염, 젖산칼슘, 메티오닌, 효소처리스테비아, 양파, 감자비트맛시즈닝">
                            소맥분, 감자...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck40">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">오리온</td>
                    <td>
                        <span class="table-prd-item">포카칩 오리지널</span>
                    </td>
                    <td>11</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 팜올레인유, 해바라기유, 정제소금 ">
                            감자, 팜올레...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck41">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">포테토칩 고추장마요맛</span>
                    </td>
                    <td>13</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 카놀라유, 팜유, 먹태고추장마요맛시즈닝">
                            감자, 카놀라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck42">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">포테토칩 먹태청양마요맛</span>
                    </td>
                    <td>15</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 카놀라유, 팜유, 먹태청양마요맛시즈닝">
                            감자, 카놀라...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck44">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">농심</td>
                    <td>
                        <span class="table-prd-item">포테토칩 트리플치즈</span>
                    </td>
                    <td>18</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 미강유, 팜유, 트리플치즈맛시즈닝">
                            감자, 미강유...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck45">
                        </div>
                    </td>
                    <td data-column="대륙">아메리카</td>
                    <td data-column="국가">미국</td>
                    <td data-column="제조사">캘라노바</td>
                    <td>
                        <span class="table-prd-item">프링글스 사워크림 &amp; 어니언</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 식물성유지, 옥수수가루, 밀전분, 사워크림어니언시즈닝(정제소금, 유청, 향미증진제:L-글루탐산나트륨, 포도당, 양파분말, 말토덱스트린, 설탕, 향료2종, 식물성유지, 탈지분유, 사워크림분말, 구연산, 젖산, 발효유, 향미증진제2, 사과산, 효모추출물, 이산화규소, 제삼인산칼슘), 유화제, 말토덱스트린, 구연산">
                            감자, 식물성...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck46">
                        </div>
                    </td>
                    <td data-column="대륙">아메리카</td>
                    <td data-column="국가">미국</td>
                    <td data-column="제조사">캘라노바</td>
                    <td>
                        <span class="table-prd-item">프링글스 오리지널</span>
                    </td>
                    <td>11</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 식물성유지, 옥수수가루, 밀전분, 유화제, 말토덱스트린, 정제소금, 구연산">
                            감자, 식물성...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck47">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">한국</td>
                    <td data-column="제조사">해태</td>
                    <td>
                        <span class="table-prd-item">허니버터칩</span>
                    </td>
                    <td>14</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 팜올레인유, 해바라기유, 허니버터맛시즈닝[백설탕, 정제소금, 탈지분유, 버터혼합분말, 효모추출물, 천연향신료], 아카시아꿀분말, 고메버터 ">
                            감자, 팜올레...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck48">
                        </div>
                    </td>
                    <td data-column="대륙">아시아</td>
                    <td data-column="국가">아랍에미리트</td>
                    <td data-column="제조사">헌터스</td>
                    <td>
                        <span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span>
                    </td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top"
                            data-bs-title="감자, 해바라기유, 검은서양송로시즈닝(말토덱스트린, 정제소금, 설탕, 천연향료[검은서양송로향], 합성향료[검은서양송로향])">
                            감자, 해바라...
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="shadow shadow-top" aria-hidden="true"></div> -->
    <!-- <div class="shadow shadow-bottom" aria-hidden="true"></div> -->
</div>

<div class="d-grid mt-3">
    <button id="compare-btn" type="submit" class="btn btn-primary btn-block" disabled>비교분석</button>
</div>
<p id="warning-text">2개만 선택해주세요.</p>

<script type="text/javascript" src="https://unpkg.com/papaparse@5.4.1/papaparse.min.js"></script>