<h5>Filter</h5>
<form>
    <div>
        <div class="btn-container">
            <div class="dropdown filter-item">
                <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    카테고리
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" value="" id="chkSanck" />
                                <label class="form-check-label" for="chkSanck">스낵</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" value="" id="chkRamen" />
                                <label class="form-check-label" for="chkRamen">라면</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="dropdown filter-item">
                <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    대륙
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" value="" id="chkAsia" />
                                <label class="form-check-label" for="chkAsia">아시아</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" value="" id="chkEurope" />
                                <label class="form-check-label" for="chkEurope">유럽</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        
            <div class="dropdown filter-item">
                <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    국가
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" value="" id="chkKorea" />
                                <label class="form-check-label" for="chkKorea">한국</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" value="" id="chkGerm" />
                                <label class="form-check-label" for="chkGerm">독일</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        
            <div class="dropdown filter-item">
                <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    제조사
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" value="" id="chkNs" />
                                <label class="form-check-label" for="chkNs">농심</label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input class="input-checkbox" type="checkbox" value="" id="chkOrion" />
                                <label class="form-check-label" for="chkOrion">오리온</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        
            <div class="filter-item">
                <button type="submit" id="filter-btn" class="btn btn-primary btn-block btn-submit">필터조회</button>
            </div>
        </div>
    </div>
</form>
