<h5>Result</h5>
<div id="table-box" class="container off-bottom">
    <div class="scroll-box">
        <table class="table">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">대륙</th>
                <th scope="col">국가</th>
                <th scope="col">제조사</th>
                <th scope="col">제품명(국문)</th>
                <th scope="col">Flavor 검출수</th>
                <th scope="col">원재료</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td id="prd-btn"><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck1">
                        </div>
                    </td>   
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck2">
                        </div>
                    </td>  
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="input-checkbox table-checkbox" id="customCheck2">
                        </div>
                    </td>  
                    <td >Bird</td>
                    <td >Larry the Bird</td>
                    <td>@twitter</td>
                    <td><span class="table-prd-item">헌터스 블랙트러플 포테이토칩</span></td>
                    <td>19</td>
                    <td>
                        <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                        data-bs-placement="top" data-bs-title="감자, 천연향로 검은서양송로향, 합성향료 검은서양송로샹">
                        감자, 천연향로...
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="shadow shadow-top" aria-hidden="true"></div> -->
    <!-- <div class="shadow shadow-bottom" aria-hidden="true"></div> -->
</div>

<div class="d-grid mt-3">
    <button id="compare-btn" type="submit" class="btn btn-primary btn-block" disabled>비교분석</button>
</div>
<p id="warning-text">2개만 선택해주세요.</p>

