<body>
    <div id="sub-detail-header">
        <p class="sub-main-title"><span class="sub-prd-name">치오 팝칩 파프리카</span></p>
        <img id="sub-similar-close" class="sub-detail-close" src="img/x_icon.png">
        <hr class="sub-border-divider" />
    </div>

    <div id="sub-similar-cont">
        <div id="similar-geo-cont">
            <p class="sub-title">▹ 대륙/국가별 유사 제품</p>
            <div id="similar-geo-area">
                <div id="sim-geo"></div>
            </div>
            <div id="geo-marker">
                <img id="marker1" class="pin-icon" src="img/pin_icon.png">
                <img id="marker2" class="pin-icon" src="img/pin_icon.png">
                <img id="marker3" class="pin-icon" src="img/pin_icon.png">
                <img id="marker4" class="pin-icon" src="img/pin_icon.png">
                <img id="marker5" class="pin-icon" src="img/pin_icon.png">
            </div>
            <div id="marker1-info" class="marker-info">
                <div class="marker-name">영국</div>
                <div class="marker-text">
                    <p>- 워커스 새우</p>
                    <p>- 워커스 소금 식초</p>
                </div>
            </div>
            <div id="marker2-info" class="marker-info">
                <div class="marker-name">네덜란드</div>
                <div class="marker-text">
                    <p>- 레이즈 요피맛</p>
                </div>
            </div>
            <div id="marker3-info" class="marker-info">
                <div class="marker-name">독일</div>
                <div class="marker-text">
                    <p>- 치오 토릴라 나초치즈</p>
                    <p>- 치오 팝칩 파프리카</p>
                    <p>- 로렌즈 로즈마리</p>
                </div>
            </div>
            <div id="marker4-info" class="marker-info">
                <div class="marker-name">인도</div>
                <div class="marker-text">
                    <p>- 레이즈 인도매직마살라</p>
                </div>
            </div>
            <div id="marker5-info" class="marker-info">
                <div class="marker-name">호주</div>
                <div class="marker-text">
                    <p>- 스미스 소금 & 식초</p>
                </div>
            </div>
        </div>
        <div id="similar-cont">
            <div id="similar-plot-cont">
                <p class="sub-title">▹ 제품 프로파일링</p>
                <div id="similar-plot-area">
                    <canvas id="similar-plot"></canvas>
                </div>
            </div>
            <div id="similar-table-cont">
                <%- include('sub_similar_table.ejs') %>
            </div>
        </div>
    </div>

    <div id="sub-detail-footer"></div>
</body>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/sub_similar_line_chart.js"></script>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="js/sub_similar_geo.js"></script>
