<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - Flavor 강도</p>
            <div class="scroll-box sub-table-node">
                <table id="detail-t1" class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Flavor</th>
                            <th scope="col">강도</th>
                            <th scope="col">순위</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="flavor-report-btn"><span class="table-prd-item" data-product="치오 팝칩 파프리카">Slightly-Spicy</span></td>
                            <td>3.582611749</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td id=""><span class="table-prd-item">Pine</span></td>
                            <td>2.620967475</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td id=""><span class="table-prd-item">Woody</span></td>
                            <td>1.733656793</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td id=""><span class="table-prd-item">Buttery</span></td>
                            <td>1.467184623</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td id=""><span class="table-prd-item">Warm-Spicy</span></td>
                            <td>1.287310982</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td id=""><span class="table-prd-item">Citrus</span></td>
                            <td>1.079485202</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td id=""><span class="table-prd-item">Fatty</span></td>
                            <td>1.041552475</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td id=""><span class="table-prd-item">Herbal</span></td>
                            <td>0.997576682</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td id=""><span class="table-prd-item">Earthy</span></td>
                            <td>0.808400714</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td id=""><span class="table-prd-item">Creamy</span></td>
                            <td>0.226546999</td>
                            <td>18</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 유일하게 추출된 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Component Name</th>
                            <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Acetoin">
                                    Acetoin
                                </div>
                            </td>
                            <td>2659858</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Cyclohexanone">
                                    Cyclohexano...
                                </div>
                            </td>
                            <td>117116</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="2-Methyl heptanoic acid">
                                    2-Methyl hep...
                                </div>
                            </td>
                            <td>422744</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="2-Ethyl-1-hexanol">
                                    2-Ethyl-1-h...
                                </div>
                            </td>
                            <td>162753</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="2-Methyl bicyclo[4.3.0]non-1(6)-ene">
                                    2-Methyl bi...
                                </div>
                            </td>
                            <td>318864</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table3" class="">
            <p> - TIC가 가장 높은 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Component Name</th>
                            <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Aceticacid">
                                    Aceticacid
                                </div>
                            </td>
                            <td>733404701</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="3-Carene">
                                    3-Carene
                                </div>
                            </td>
                            <td>30874555</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="D-Limonene">
                                    D-Limonene
                                </div>
                            </td>
                            <td>17117360</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="β-Pinene">
                                    β-Pinene
                                </div>
                            </td>
                            <td>10600378</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="EthylAcetate">
                                    EthylAcetate
                                </div>
                            </td>
                            <td>8904978</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<!-- <script type="text/javascript" src="js/sub_table.js"></script> -->