<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - 공통 화합물</p>
            <div class="scroll-box sub-similar-table-node">
                <table class="table sim-table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">검출율(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Spicy</td>
                            <td>252.1532</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Spicy</td>
                            <td>62.13245</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Spicy</td>
                            <td>213.542</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Spicy</td>
                            <td>1.3735</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>175.175</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>87.1278</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>1872.1278</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 독립 화합물</p>
            <div class="scroll-box sub-similar-table-node">
                <table class="table sim-table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">Flavor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Spicy</td>
                            <td>252.1532</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Spicy</td>
                            <td>62.13245</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Spicy</td>
                            <td>213.542</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Spicy</td>
                            <td>1.3735</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>175.175</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>87.1278</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>1872.1278</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>