<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - Flavor 강도</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Flavor</th>
                        <th scope="col">강도</th>
                        <th scope="col">수위</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td id="flavor-report-btn"><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 유일하게 추출된 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>232.1325</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Spicy</td>
                            <td>212.1532</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Spicy</td>
                            <td>542.13245</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Spicy</td>
                            <td>2123.542</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Spicy</td>
                            <td>157.3735</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>175.175</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>87.1278</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>1872.1278</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table3" class="">
            <p> - TIC가 가장 높은 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>3214232.1325</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Spicy</td>
                            <td>2543512.1532</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Spicy</td>
                            <td>565462.13245</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Spicy</td>
                            <td>2126533.542</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Spicy</td>
                            <td>157.3735</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>175.175</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>87.1278</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Spicy</td>
                            <td>1872.1278</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>