<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - Flavor 강도</p>
            <div class="scroll-box sub-table-node">
                <table id="detail-t1" class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Flavor</th>
                            <th scope="col">강도</th>
                            <th scope="col">순위</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td id=""><span class="table-prd-item">Savory</span></td>
                            <td>2.904158319</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td id=""><span class="table-prd-item">Caramel</span></td>
                            <td>2.101206345</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td id=""><span class="table-prd-item">Meaty</span></td>
                            <td>1.84794283</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td id=""><span class="table-prd-item">Fruity</span></td>
                            <td>1.562159802</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td id=""><span class="table-prd-item">Sulfurous</span></td>
                            <td>1.209827551</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td id=""><span class="table-prd-item">Malty</span></td>
                            <td>1.00276169</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td id=""><span class="table-prd-item">Green</span></td>
                            <td>1.002088658</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td id=""><span class="table-prd-item">Sweet</span></td>
                            <td>0.931699344</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td id=""><span class="table-prd-item">Nutty</span></td>
                            <td>0.459492845</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td id=""><span class="table-prd-item">Roasted</span></td>
                            <td>0.39243866</td>
                            <td>19</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 유일하게 추출된 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Component Name</th>
                            <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Carbonyl sulfide">
                                    Carbonyl su...
                                </div>
                            </td>
                            <td>430386</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table3" class="">
            <p> - TIC가 가장 높은 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Component Name</th>
                            <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="1-Butanol, 2-methyl-, propanoate">
                                    1-Butanol, ...
                                </div>
                            </td>
                            <td>3974481</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Hexanal">
                                    Hexanal
                                </div>
                            </td>
                            <td>3736188</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Butanal, 2-methyl-">
                                    Butanal, 2-...
                                </div>
                            </td>
                            <td>863572</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Carbonyl sulfide">
                                    Carbonyl su...
                                </div>
                            </td>
                            <td>430386</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Furan, 2-pentyl-">
                                    Furan, 2-pe...
                                </div>
                            </td>
                            <td>148710</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<!-- <script type="text/javascript" src="js/sub_table.js"></script> -->