<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - Flavor 강도</p>
            <div class="scroll-box sub-table-node">
                <table id="detail-t1" class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Flavor</th>
                            <th scope="col">강도</th>
                            <th scope="col">순위</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>1</td>
                            <td class="flavor-report-btn"><span class="table-prd-item" data-product="포테토칩 오리지널">Sulfurous</span></td>
                            <td>1.429767129</td>
                            <td>5</td>

                        </tr>
                        <tr>

                            <td>2</td>
                            <td><span class="table-prd-item">Malty</span></td>
                            <td>1.262305557</td>
                            <td>5</td>

                        </tr>
                        <tr>

                            <td>3</td>
                            <td><span class="table-prd-item">Savory</span></td>
                            <td>0.937953579</td>
                            <td>7</td>

                        </tr>
                        <tr>

                            <td>4</td>
                            <td><span class="table-prd-item">Nutty</span></td>
                            <td>0.713118334</td>
                            <td>12</td>

                        </tr>
                        <tr>

                            <td>5</td>
                            <td><span class="table-prd-item">Caramel</span></td>
                            <td>0.652346249</td>
                            <td>14</td>

                        </tr>
                        <tr>

                            <td>6</td>
                            <td><span class="table-prd-item">Roasted</span></td>
                            <td>0.64048554</td>
                            <td>14</td>

                        </tr>
                        <tr>

                            <td>7</td>
                            <td><span class="table-prd-item">Green</span></td>
                            <td>0.528281017</td>
                            <td>15</td>

                        </tr>
                        <tr>

                            <td>8</td>
                            <td><span class="table-prd-item">Sweet</span></td>
                            <td>0.417878208</td>
                            <td>13</td>

                        </tr>
                        <tr>

                            <td>9</td>
                            <td><span class="table-prd-item">Fruity</span></td>
                            <td>0.349403663</td>
                            <td>19</td>

                        </tr>
                        <tr>

                            <td>10</td>
                            <td><span class="table-prd-item">Meaty</span></td>
                            <td>0.340411365</td>
                            <td>17</td>

                        </tr>
                        <tr>

                            <td>11</td>
                            <td><span class="table-prd-item">Citrus</span></td>
                            <td>-0.734052047</td>
                            <td>36</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 유일하게 추출된 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Component Name</th>
                            <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2-Heptene, 3-methyl-</td>
                            <td>370594</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Decane, 2-methyl-</td>
                            <td>473918</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table3" class="">
            <p> - TIC가 가장 높은 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Component Name</th>
                            <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top"
                                    data-bs-title="1,2,4-Benzenetricarboxylic acid, 1,2-dimethyl ester">
                                    1,2,4-Benzenetric...
                                </div>
                            </td>
                            <td>665824</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Acetic acid, [(1,1-dimethylethyl)thio]-">
                                    Acetic acid, ...
                                </div>
                            </td>
                            <td>876380</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Cyclopentane, methyl-">
                                    Cyclopentane, m...
                                </div>
                            </td>
                            <td>1015402</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Nonane, 3,7-dimethyl-">
                                    Nonane, 3,7-dim...
                                </div>
                            </td>
                            <td>323105</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Oxalic acid, butyl cyclobutyl ester">
                                    Oxalic acid, bu...
                                </div>
                            </td>
                            <td>565355</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<!-- <script type="text/javascript" src="js/sub_table.js"></script> -->