<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - Flavor 강도</p>
            <div class="scroll-box sub-compare-table-node">
                <table id="compare-t1" class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Flavor</th>
                            <th scope="col">포테토칩</th>
                            <th scope="col">치오 팝칩</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>1</td>
                            <td><span class="table-prd-item">Slightly-Spicy</span></td>
                            <td>-0.317</td>
                            <td>3.5826</td>

                        </tr>
                        <tr>

                            <td>2</td>
                            <td id="compare-report-btn"><span class="table-prd-item">Pine</span></td>
                            <td>-0.576</td>
                            <td>2.6209</td>

                        </tr>
                        <tr>

                            <td>3</td>
                            <td><span class="table-prd-item">Woody</span></td>
                            <td>-0.559</td>
                            <td>1.7336</td>

                        </tr>
                        <tr>

                            <td>4</td>
                            <td><span class="table-prd-item">Sulfurous</span></td>
                            <td>1.4297</td>
                            <td>-0.671</td>

                        </tr>
                        <tr>

                            <td>5</td>
                            <td><span class="table-prd-item">Nutty</span></td>
                            <td>0.7131</td>
                            <td>-1.400</td>

                        </tr>
                        <tr>

                            <td>6</td>
                            <td><span class="table-prd-item">Balsamic</span></td>
                            <td>-0.144</td>
                            <td>-0.144</td>

                        </tr>
                        <tr>

                            <td>7</td>
                            <td><span class="table-prd-item">Vanilla</span></td>
                            <td>-0.254</td>
                            <td>-0.254</td>

                        </tr>
                        <tr>

                            <td>8</td>
                            <td><span class="table-prd-item">Rancid</span></td>
                            <td>-0.295</td>
                            <td>-0.295</td>

                        </tr>
                        <tr>

                            <td>9</td>
                            <td><span class="table-prd-item">Mushroom</span></td>
                            <td>-0.358</td>
                            <td>-0.358</td>

                        </tr>
                        <tr>

                            <td>10</td>
                            <td><span class="table-prd-item">Fishy</span></td>
                            <td>-0.428</td>
                            <td>-0.428</td>

                        </tr>
                        <tr>

                            <td>11</td>
                            <td><span class="table-prd-item">Buttery</span></td>
                            <td>-0.575</td>
                            <td>1.4671</td>

                        </tr>
                        <tr>

                            <td>12</td>
                            <td><span class="table-prd-item">Warm-Spicy</span></td>
                            <td>-0.409</td>
                            <td>1.2873</td>

                        </tr>
                        <tr>

                            <td>13</td>
                            <td><span class="table-prd-item">Citrus</span></td>
                            <td>-0.734</td>
                            <td>1.0794</td>

                        </tr>
                        <tr>

                            <td>14</td>
                            <td><span class="table-prd-item">Fatty</span></td>
                            <td>-0.325</td>
                            <td>1.0415</td>

                        </tr>
                        <tr>

                            <td>15</td>
                            <td><span class="table-prd-item">Herbal</span></td>
                            <td>-0.650</td>
                            <td>0.9975</td>

                        </tr>
                        <tr>

                            <td>16</td>
                            <td><span class="table-prd-item">Earthy</span></td>
                            <td>-0.560</td>
                            <td>0.8084</td>

                        </tr>
                        <tr>

                            <td>17</td>
                            <td><span class="table-prd-item">Creamy</span></td>
                            <td>-0.660</td>
                            <td>0.2265</td>

                        </tr>
                        <tr>

                            <td>18</td>
                            <td><span class="table-prd-item">Sour</span></td>
                            <td>-0.761</td>
                            <td>0.1493</td>

                        </tr>
                        <tr>

                            <td>19</td>
                            <td><span class="table-prd-item">Floral</span></td>
                            <td>-0.888</td>
                            <td>0.0989</td>

                        </tr>
                        <tr>

                            <td>20</td>
                            <td><span class="table-prd-item">Sweet</span></td>
                            <td>0.4178</td>
                            <td>-0.010</td>

                        </tr>
                        <tr>

                            <td>21</td>
                            <td><span class="table-prd-item">Fresh</span></td>
                            <td>-0.691</td>
                            <td>-0.014</td>

                        </tr>
                        <tr>

                            <td>22</td>
                            <td><span class="table-prd-item">Pungent</span></td>
                            <td>-1.119</td>
                            <td>-0.034</td>

                        </tr>
                        <tr>

                            <td>23</td>
                            <td><span class="table-prd-item">Savory</span></td>
                            <td>0.9379</td>
                            <td>-0.460</td>

                        </tr>
                        <tr>

                            <td>24</td>
                            <td><span class="table-prd-item">Malty</span></td>
                            <td>1.2623</td>
                            <td>-0.583</td>

                        </tr>
                        <tr>

                            <td>25</td>
                            <td><span class="table-prd-item">Meaty</span></td>
                            <td>0.3404</td>
                            <td>-0.731</td>

                        </tr>
                        <tr>

                            <td>26</td>
                            <td><span class="table-prd-item">Green</span></td>
                            <td>0.5282</td>
                            <td>-1.024</td>

                        </tr>
                        <tr>

                            <td>27</td>
                            <td><span class="table-prd-item">Fruity</span></td>
                            <td>0.3494</td>
                            <td>-1.060</td>

                        </tr>
                        <tr>

                            <td>28</td>
                            <td><span class="table-prd-item">Caramel</span></td>
                            <td>0.6523</td>
                            <td>-1.086</td>

                        </tr>
                        <tr>

                            <td>29</td>
                            <td><span class="table-prd-item">Roasted</span></td>
                            <td>0.6404</td>
                            <td>-1.123</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 공통 화합물</p>
            <div class="scroll-box sub-compare-table-node">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Component Name</th>
                            <th scope="col">포테토칩</th>
                            <th scope="col">치오 팝칩</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Butanal,3-methyl-</td>
                            <td>9393294</td>
                            <td>2037734</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Butanal,2-methyl-</td>
                            <td>4016691</td>
                            <td>1218554</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Hexanal</td>
                            <td>3105596</td>
                            <td>4929957</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Furan,2-pentyl-</td>
                            <td>239189</td>
                            <td>506509</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table3" class="">
            <p> - 독립 화합물</p>
            <div class="scroll-box sub-compare-table-node">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Component Name</th>
                            <th scope="col">포테토칩</th>
                            <th scope="col">치오 팝칩</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Aceticacid</td>
                            <td>0</td>
                            <td>733404701</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>3-Carene</td>
                            <td>0</td>
                            <td>30874555</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>D-Limonene</td>
                            <td>0</td>
                            <td>17117360</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="S-Methyl3-methylbutanethioate">
                                    S-Methyl3-m...
                                </div>
                            </td>
                            <td>3948812</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="1-Butanol,3-methyl-,acetate">
                                    1-Butanol,3-...
                                </div>
                            </td>
                            <td>865038</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top" data-bs-title="Carbonylsulfide">
                                    Carbonyls...
                                </div>
                            </td>
                            <td>638897</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


<!-- <script type="text/javascript" src="js/sub_compare_table.js"></script> -->