<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - Flavor 강도</p>
            <div class="scroll-box sub-table-node">
                <table id="detail-t1" class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Flavor</th>
                        <th scope="col">강도</th>
                        <th scope="col">순위</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>1</td>
                            <td id="flavor-report-btn"><span class="table-prd-item">Spicy</span></td>
                            <td>2.15</td>
                            <td>3</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 유일하게 추출된 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2-Heptene, 3-methyl-</td>
                            <td>370594</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Decane, 2-methyl-</td>
                            <td>473918</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table3" class="">
            <p> - TIC가 가장 높은 화합물</p>
            <div class="scroll-box sub-table-node">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">TIC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="1,2,4-Benzenetricarboxylic acid, 1,2-dimethyl ester">
                                1,2,4-Benzenetric...
                                </div>
                            </td>
                            <td>665824</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="Acetic acid, [(1,1-dimethylethyl)thio]-">
                                Acetic acid, ...
                                </div>
                            </td>
                            <td>876380</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="Cyclopentane, methyl-">
                                Cyclopentane, m...
                                </div>
                            </td>
                            <td>1015402</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="Nonane, 3,7-dimethyl-">
                                Nonane, 3,7-dim...
                                </div>
                            </td>
                            <td>323105</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="Oxalic acid, butyl cyclobutyl ester">
                                Oxalic acid, bu...
                                </div>
                            </td>
                            <td>565355</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="js/sub_table.js"></script>