<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - 공통 화합물</p>
            <div class="scroll-box sub-similar-table-node">
                <table class="table sim-table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">검출율</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Butanal,2-methyl-</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Furan,2-pentyl-</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Hexanal</td>
                            <td>88%</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Carbonyl sulfide</td>
                            <td>38%</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="1-Butanol,2-methyl-,propanoate">
                                1-Butanol,2-me...
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="2-Propanone,1-hydroxy-">
                                2-Propanone,1...
                            </td>
                            <td>13%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 독립 화합물</p>
            <div class="scroll-box sub-similar-table-node">
                <table class="table sim-table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">Flavor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Carbonyl sulfide</td>
                            <td>Sulfurous</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>