<body>
    <div id="sub-detail-header">
        <h5 class="sub-main-title"><span class="sub-prd-name">Spicy</span> 에 대한 요약 보고서</h5>
        <img id="sub-report-close" class="sub-detail-close" src="img/x_icon.png">
        <hr class="sub-border-divider" />
    </div>
    
    <div id="sub-detail-cont">
        <div id="flavor-detail-inner">
            <div id="flavor-plot-cont">
                <canvas id="flavor-line-plot">
                </canvas>
                <!-- <canvas id="flavor-box-plot">
                </canvas> -->
            </div>
            <div id="report-flavor-info-cont">
                <div class="report-flavor-info-key">
                    <ul>
                        <li>평균</li>
                        <li>표준 편차</li>
                        <li>분산</li>
                        <li>&nbsp</li>
                        <li>최소값</li>
                        <li>제1사분위수</li>
                        <li>중위수</li>
                        <li>제3사분위수</li>
                        <li>최대값</li>
                    </ul>
                </div>
                <div class="report-flavor-info-value">
                    <ul>
                        <li>-0.00000</li>
                        <li>1.01130</li>
                        <li>1.02273</li>
                        <li>&nbsp</li>
                        <li>-0.54014</li>
                        <li>-0.54014</li>
                        <li>-0.54014</li>
                        <li>0.56919</li>
                        <li>3.16451</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="flavor-label1" class="flavor-label">
        <div class="flavor-name">치오 팝칩 파프리카</div>
        <img class="flavor-arrow-icon" src="img/down_arrow_icon.png">
    </div>

    <div id="flavor-label2" class="flavor-label">
        <div class="flavor-name">치오 토릴라 나초치즈</div>
        <img class="flavor-arrow-icon" src="img/down_arrow_icon.png">
    </div>

    <div id="sub-detail-footer"></div>
</body>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/sub_flavor_detail_line_chart.js"></script>