<body>
    <div class="sub-table-group">
        <div id="sub-table1" class="">
            <p> - 공통 화합물</p>
            <div class="scroll-box sub-similar-table-node">
                <table class="table sim-table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">검출율</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>D-Limonene</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Butanal,2-methyl-</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Aceticacid</td>
                            <td>80%</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>1-Propene-1-thiol</td>
                            <td>80%</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Hexanal</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Butanal,3-methyl-</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>n-Propylacetate</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>γ-Terpinene</td>
                            <td>70%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="sub-table2" class="">
            <p> - 독립 화합물</p>
            <div class="scroll-box sub-similar-table-node">
                <table class="table sim-table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">Flavor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Acetoin</td>
                            <td>Buttery,Sweet</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="2,3-Butanedione">
                                2,3-Butan...
                                </div>
                            </td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="Buttery,Creamy,Sweet">
                                Buttery,Cr...
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="2-Methylheptanoicacid">
                                2-Methylh...
                                </div>
                            </td>
                            <td>Fatty</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                                data-bs-placement="top" data-bs-title="2-Methylbicyclo[4.3.0]non-1(6)-ene">
                                2-Methylb...
                                </div>
                            </td>
                            <td>Pine,Woody</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Cyclohexanone</td>
                            <td>Sweet</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>